<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>close.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,914},{94,98}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{94,98}}</string>
                <key>sourceSize</key>
                <string>{94,98}</string>
            </dict>
            <key>fanhuiMain.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,434},{369,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,142}}</string>
                <key>sourceSize</key>
                <string>{369,142}</string>
            </dict>
            <key>fenxiang.png</key>
            <dict>
                <key>frame</key>
                <string>{{521,914},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>jxgame.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,290},{369,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,142}}</string>
                <key>sourceSize</key>
                <string>{369,142}</string>
            </dict>
            <key>miyuk.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,458},{533,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,454}}</string>
                <key>sourceSize</key>
                <string>{533,454}</string>
            </dict>
            <key>miyy.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,146},{369,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,142}}</string>
                <key>sourceSize</key>
                <string>{369,142}</string>
            </dict>
            <key>pwdb.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,625},{322,53}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{322,53}}</string>
                <key>sourceSize</key>
                <string>{322,53}</string>
            </dict>
            <key>pweibg.png</key>
            <dict>
                <key>frame</key>
                <string>{{795,680},{119,42}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{119,42}}</string>
                <key>sourceSize</key>
                <string>{119,42}</string>
            </dict>
            <key>shengc.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,2},{369,142}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{369,142}}</string>
                <key>sourceSize</key>
                <string>{369,142}</string>
            </dict>
            <key>shengyin.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,914},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>slsbbutton.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,914},{273,95}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{273,95}}</string>
                <key>sourceSize</key>
                <string>{273,95}</string>
            </dict>
            <key>txtbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{537,680},{256,64}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{256,64}}</string>
                <key>sourceSize</key>
                <string>{256,64}</string>
            </dict>
            <key>vsbg.png</key>
            <dict>
                <key>frame</key>
                <string>{{595,578},{340,45}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{340,45}}</string>
                <key>sourceSize</key>
                <string>{340,45}</string>
            </dict>
            <key>xiaobj.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{533,454}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{533,454}}</string>
                <key>sourceSize</key>
                <string>{533,454}</string>
            </dict>
            <key>yiwen.png</key>
            <dict>
                <key>frame</key>
                <string>{{373,914},{72,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{72,72}}</string>
                <key>sourceSize</key>
                <string>{72,72}</string>
            </dict>
            <key>zanting.png</key>
            <dict>
                <key>frame</key>
                <string>{{937,578},{69,69}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{69,69}}</string>
                <key>sourceSize</key>
                <string>{69,69}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>elst.png</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a3239f902742240cd53200dcc0cf96c2:1/1$</string>
            <key>textureFileName</key>
            <string>elst.png</string>
        </dict>
    </dict>
</plist>
