<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>shadow0.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{205,55}}</string>
                <key>sourceSize</key>
                <string>{205,55}</string>
            </dict>
            <key>shadow1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,216},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
            <key>shadow2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{155,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,105}}</string>
                <key>sourceSize</key>
                <string>{155,105}</string>
            </dict>
            <key>shadow3.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,109},{155,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,105}}</string>
                <key>sourceSize</key>
                <string>{155,105}</string>
            </dict>
            <key>shadow4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,59},{155,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,105}}</string>
                <key>sourceSize</key>
                <string>{155,105}</string>
            </dict>
            <key>shadow5.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,2},{155,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,105}}</string>
                <key>sourceSize</key>
                <string>{155,105}</string>
            </dict>
            <key>shadow6.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{155,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,105}}</string>
                <key>sourceSize</key>
                <string>{155,105}</string>
            </dict>
            <key>shadow7.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,159},{105,55}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,55}}</string>
                <key>sourceSize</key>
                <string>{105,55}</string>
            </dict>
            <key>shadow8.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,159},{105,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{105,105}}</string>
                <key>sourceSize</key>
                <string>{105,105}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>shadow.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:05f2a881e3d9cfcc4edbfd2f606a8cd3:1/1$</string>
            <key>textureFileName</key>
            <string>shadow.png</string>
        </dict>
    </dict>
</plist>
