<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>1.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,147},{57,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,143}}</string>
                <key>sourceSize</key>
                <string>{57,143}</string>
            </dict>
            <key>10.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,292},{57,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,143}}</string>
                <key>sourceSize</key>
                <string>{57,143}</string>
            </dict>
            <key>11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{87,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,150}}</string>
                <key>sourceSize</key>
                <string>{87,150}</string>
            </dict>
            <key>12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{87,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{87,155}}</string>
                <key>sourceSize</key>
                <string>{87,155}</string>
            </dict>
            <key>13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{66,155}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,155}}</string>
                <key>sourceSize</key>
                <string>{66,155}</string>
            </dict>
            <key>14.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,159},{66,150}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{66,150}}</string>
                <key>sourceSize</key>
                <string>{66,150}</string>
            </dict>
            <key>2.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{84,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,143}}</string>
                <key>sourceSize</key>
                <string>{84,143}</string>
            </dict>
            <key>3.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,2},{70,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{70,143}}</string>
                <key>sourceSize</key>
                <string>{70,143}</string>
            </dict>
            <key>4.png</key>
            <dict>
                <key>frame</key>
                <string>{{138,147},{84,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,143}}</string>
                <key>sourceSize</key>
                <string>{84,143}</string>
            </dict>
            <key>5.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,311},{84,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{84,143}}</string>
                <key>sourceSize</key>
                <string>{84,143}</string>
            </dict>
            <key>6.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,437},{57,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{57,143}}</string>
                <key>sourceSize</key>
                <string>{57,143}</string>
            </dict>
            <key>7.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,147},{71,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,143}}</string>
                <key>sourceSize</key>
                <string>{71,143}</string>
            </dict>
            <key>8.png</key>
            <dict>
                <key>frame</key>
                <string>{{177,292},{71,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{71,143}}</string>
                <key>sourceSize</key>
                <string>{71,143}</string>
            </dict>
            <key>9.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,2},{97,143}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{97,143}}</string>
                <key>sourceSize</key>
                <string>{97,143}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>heads.png</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2b6e2999000c1feaa8f3a121bcdd4719:1/1$</string>
            <key>textureFileName</key>
            <string>heads.png</string>
        </dict>
    </dict>
</plist>
